@import url('vars.css');

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html {
    font-size: 24px;
    text-align: center;
    font-family: var(--sans);
}

body {
    font-size: 100%;
    background: var(--brown);
    color: var(--white);
    margin: 0;
}

.container {
    max-width: 45rem;
    margin: 0 auto;
}

.container.narrow {
    max-width: 36em;
}

header,
footer,
main {
    padding: 1em 4em 2em;
}

header,
footer {
    background: var(--white);
    color: var(--brown);
}

header {
    padding: 33vh 0 44vh;
}

header h1 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.introd {
    padding: 1em 4em 2em;
}

header a:hover,
footer a:hover {
    color: var(--red);
}

main {
    padding-top: 1em;
    padding-bottom: 1em;
}

h1, h2, h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: var(--mono);
}

p {
    text-align: left;
}

a, a:link, a:visited {
    color: inherit;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    color: var(--yellow);
    border-bottom: 1px solid;
}

input {
    font-size: 1.25em;
    width: 100%;
    text-align: left;
    display: block;
    margin: 0 auto;
    padding: .125em .25em;
    border: 2px dotted transparent;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    background: var(--white);
    color: var(--brown);
    font-family: inherit;
}

input:focus {
    outline: none;
    border-color: var(--yellow);
}

input + small {
    font-size: .375em;
    margin-top: -1em;
}

label {
    max-width: 50%;
    margin: 0 auto .5em;
    position: relative;
    display: block;
}

label:last-of-type {
    margin-bottom: 1em;
}

label span {
    position: absolute;
    color: var(--brown);
    line-height: 2;
    text-align: right;
    right: .5em;
}

output {
    text-align: center;
    color: inherit;
    width: 100%;
    margin: 1em auto;
    display: block;
}

output.slid > .empty,
output.slid > .left,
output.slid > .right {
    display: inline-block;
}

output > .left,
output > .right {
    display: none;
    width: 46%;
}

output > .left {
    text-align: right;
    font-size: 3rem;
}

output > .left:after {
    content: "%";
    font-size: .25em;
    vertical-align: 2em;
    display: inline-block;
}

output > .right {
    text-align: left;
    position: relative;
    bottom: .75em;
}

.reveal.reveal {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition-property: all;
    transition-duration: 400ms;
    transition-timing-function: ease;
}

.reveal.late {
    transition-delay: 1000ms;
}

.reveal.from-right {
    transform: translate3d(100vw, 0, 0);
}

.reveal.in {
    opacity: 1;
    height: auto;
    visibility: visible;
    transform: translate3d(0, 0, 0);
}

.tray {
    position: relative;
    margin: 1em;
    padding: 1em 3em;
    border: 1px solid transparent;
    vertical-align: top;
    border-radius: 20px;
    transition: all 222ms ease;
    box-shadow: 0 0 400px 0 transparent;
}

.tray:hover {
    border-color: var(--yellow);
    box-shadow: 0 0 0 0 var(--yellow);
}

.tray > .corner {
    position: absolute;
    top: -.25em;
    left: 0;
    font-size: 16em;
    color: hsla(0, 100%, 100%, 0.2);
    transform: rotate(-20deg);
    font-weight: bolder;
}

footer .tray:hover {
    border-color: var(--brown);
    box-shadow: 0 0 0 0 var(--brown);
}

.corner:before {
    content: "#";
    font-size: 40%;
    position: absolute;
    top: 1.25em;
    left: 0em;
    /*transform: rotate(-40deg);*/
    color: hsla(0, 100%, 100%, 0.2);
}

.affirmative {
    margin: 0 .25em;
    padding: 0 .25em;
    transition: all 222ms ease;
    background: var(--brown);
    border: 2px dotted var(--yellow);
}

b {
    text-transform: uppercase;
    letter-spacing: 2px;
}

button {
    font-size: inherit;
    font-family: var(--sans);
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
    appearance: none;
    margin: .5em auto;
    color: var(--white);
    background: transparent;
    border-style: solid;
    border-color: var(--yellow);
    border-radius: 1.5em/50%;
    padding: 0 1em;
    height: 3em;
    display: inline-block;
    vertical-align: top;
    transition: all 100ms ease;
}

button.on-dark {
    color: var(--brown);
    border-color: var(--brown);
    background: var(--white);
}

button:hover {
    background: var(--yellow);
    color: var(--brown);
}

button:active {
    box-shadow: inset 0 0 8px 0 var(--brown), 0 0 24px 8px var(--yellow);
}

button:focus {
    outline: none;
}

#slider-tray:hover .noUi-horizontal .noUi-handle,
#slider-tray:focus .noUi-horizontal .noUi-handle {
    color: var(--yellow);
}

#mask-tray:hover input,
#mask-tray:focus input {
    border-color: var(--yellow);
}

#slider-tray .noUi-horizontal:hover .noUi-handle {
    box-shadow: 0 0 12px 4px var(--yellow);
}

#find-out {
    overflow: visible;
}

.noUi-horizontal .noUi-handle {
}

.noUi-connect {
    background-color: var(--yellow);
    border-color: var(--brown);
}

.noUi-horizontal .noUi-handle {
    box-shadow: 0 0 0 0 transparent;
    border-radius: 20px 20px 25% 25%;
    background-color: var(--brown);
    color: var(--white);
    height: 54px;
    width: 88px;
    line-height: 42px;
    left: -44px;
    box-shadow: none;
    border: 4px solid;
    color: var(--yellow);
    transition: box-shadow 222ms ease;
}

.noUi-handle:before,
.noUi-handle:after {
    background: none;
}

.noUi-handle:before {
    width: 100%;
    height: 100%;
    text-align: center;
    /*color: var(--white);*/
    content: "(\1D54\1D25\1D54)";
    top: 0; left: 0;
    font-weight: bolder;
}

.noUi-horizontal {
    height: 44px;
}

.noUi-background {
    background: var(--white);
    box-shadow: inset 0 0 2px var(--brown);
}

hr {
    border: none;
    background: none;
    border-top: 1px solid;
    color: inherit;
    width: 90%;
}

dl {
    text-align: left;
}

dt {
    font-weight: bolder;
}

dd + dt {
    margin-top: 1em;
}

@keyframes spinning {
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg); }
}

.scary .face {
    transition: all 222ms ease-out;
    animation: spinning 500ms infinite linear;
}

@media screen and (max-width: 44em) {
    header, main, footer {
        padding: 1em .5em;
    }
    .tray {
        margin: 1em;
    }
}

@media screen and (max-width: 60em) {
    label {
        max-width: 100%;
    }
}
