:root {
  --brown: hsl(20, 75%, 12.5%);
  --yellow: hsl(56, 80%, 68%);
  --white: hsla(0, 0%, 100%, 0.9);
  --red: hsl(20, 80%, 35%);
  --sans: "Helvetica Neue", sans-serif;
  --mono: "Source Code Pro", "Consolas", monospace;
}